					<div class="row">
                        <div class="col-lg-12">
						
                            <div class="card alert nestable-cart">
                                <div class="card-header">
                                    <h2  style="font-weight:bold">待标注文本</h2>
									<p></p>
									<p id='fatherp' style="font-size:18px"> 待标注文本序号: <b id='textid' style="display: inline;">{{nowtext_id}}</b> </p>                          
                                </div>
                                <div class="card-body">
                                    <div class="example box" data-options='{"direction": "vertical", "contentSelector": ">", "containerSelector": ">"}'> 
                                        <div id="fraud">
                                            <p id="fraudtext" style="font-size:18px">{{nowtext}}</p>
											
                                        </div>
                                    </div>
                                </div>
                                <!-- /# card -->
                            </div>
						
                            <!-- /# column -->
                        </div>	
						<div class="col-lg-12">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>标注表格</h4>
							
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive" id="pstable">
									
                                        <thead>
                                            <tr>
                                                <th style="font-weight:bold">#</th>
                                                <th style="font-weight:bold">分句</th>
                                                <th style="font-weight:bold">环节</th>
                                                <th style="font-weight:bold">标签</th>
                                            </tr>
                                        </thead>
                                        <tbody id = "rowcount">
										{%for k,v in cutted.items%}
                                            <tr id="{{k}}">
                                                <th scope="row">{{k}}</th>
                                                <td id="senttext{{k}}">{{v}}</td>																								   												
												<td id = "sectioncount">
													<select id='section{{k}}' name="section" >
														<option value="">请选择环节大类</option>
														{%for sec in sections%}
															<option value="{{sec.0}}">{{sec.1}}</option>
														{% endfor %}
													</select>																										
												</td>
												<td id = "methodcount">
													<select id="method{{k}}" name="method">
														<option value="">请选择标签</option>
													</select>
												</td>
                                        
                                            </tr>
                                        {% endfor %}
                                        </tbody>
										
                                    </table>
                                </div>
							
                            </div>
							<button style="width:15%;margin:10px;float:right;" id="next" class="btn btn-primary btn-flat m-b-30 m-t-30">下一条</a></button>	
							<button style="width:15%;margin:10px;float:right;" id="before"  class="btn btn-primary btn-flat m-b-30 m-t-30">上一条</button>
							
                        </div>
						
					</div>